body{
    background-color: blue;
    margin: 0;
}

.parent{
    position: relative;
   
}

.child{
    background-color: rgb(255, 42, 4);
    padding: 8px;
    height: 800px;
    left: 30px;
    position: absolute;
}
.child1{
    background-color: rgb(255, 30, 0);
    position: absolute;
    padding: 8px;
    width: 100%;
    top: 30px;
}