<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="ex2.css">
</head>
<body>
       
    <div class="container" >
    
            <nav class="navhead">
               <span class="navigationbtn"><a href="#" >Home </a></span> 
              <span class="navigationbtn" > <a href="#">About</a></span>
              <span class="navigationbtn" > <a href="#">Product</a></span>
                <span class=" navigationbtn btnh">
                     <a href="#">Service</a>
                        <div class="dropdown-content">
                            <a href="#">Latest News</a>
                            <a href="#">World News</a>
                            <a href="#">Local News</a>
                            <a href="#">Latest News</a>
                            <a href="#">World News</a>
                            <a href="#">Local News</a>
                            
                        </div>
              
                </span>
              <span class="account navigationbtn">  <a href="#">Contact</a></span>
              <span class="navigationbtn"> <a  href="#">Account</a></span>
               <span class="cart navigationbtn "> <a href="#">Cart (2)</a></span>
            </nav>
        

                <div class="box">
                    <p class="key">Welcome to our website Store</p>
                    <p class="text"> Lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore, tenetur necessitatibus? Veniam sit quaerat quidem voluptates voluptas totam iusto, non nostrum quisquam vel natus qui Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat eligendi earum sit, et eos incidunt tenetur quidem, libero veniam repudiandae in provident veritatis architecto quisquam? Voluptas quam molestiae incidunt eaque!, repellendus corrupti minus, nemo nobis. ipsum dolor sit amet, consectetur  nisi quod. Sunt provident, repellendus atque quidem libero magnam cupiditate! Inventore, est voluptas quibusdam itaque quam vero debitis dolorum blanditiis!</p>
                </div>
     </div>

</body>
</html>