<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="ex3.css">
</head>
<body>
      
        <form class="container">
                     
            <div>
                <h1 class="titleform">Contact Form</h1>
                <p class="scetitle">get in tach with usa</p>
            </div>

            <div class="inputdiv">
                <div>   
                    <p class="abs"> firstName</p> 
                    <input>    
                </div>    
                    <div>
                        <p class="abs"> lastName</p> 
                    <input>
                </div>
            </div>

            <div>
                <div class="email">        
                    <p class="abs"> Email Address</p> 
                    <input class="in">
                </div>
            </div>
           
            <div class="inputdiv">
                <div>   
                    <p class="abs">Subject</p> 
                    <select>
                            <option>Select a topic</option>
                    </select>
            </div>    
                <div >
                    <p class="abs"> Priority</p> 
                    <select>
                        <option>Low</option>
                    
                    </select>
                </div>
            </div>


            <div class="inputdiv">
                <div>   
                    <p class="pmass">Message</p> 
                <textarea placeholder="Tell us how we can Hel..." rows="3"></textarea>
                </div>    
            </div>
             
            <div class="checkbox1">
                    <p class="textcheck">Subject</p> 
                <input type="checkbox" > Email Update
                <input type="checkbox" > Phone Follow Up
                <input type="checkbox" > NewsLatter
            </div>


            <div class="btn">
                 <button class="b1">Save Draft</button>
                 <button class="b2"> Send Message</button>
            </div>

        </form>


    
</body>
</html>