   
   .box {
         
       width: 300px;
       background-color: blue;
       height: 200px;

      } 
   
   
   
 @media (max-width:768px){
     .box {
         
       width: 100%;
       background-color: rgb(255, 0, 0);
       height: 200px;

      } 
 }