
div.row{
padding: 0;
margin: 0;
display: flex;
}

div.col{
    background-color: rgb(101, 173, 255);
    border: solid white;
    box-shadow: 1px 1px rgb(133, 133, 133);
    width: 70px;
    height: 50px; 
}

div.row2{

padding: 0;
margin: 0;
display: flex;
width: 40%;
}

div.col2{
    background-color: rgb(101, 173, 255);
    border: solid white;
    box-shadow: 1px 1px rgb(133, 133, 133);
    height: 50px;
}

div > .col2:first-child{
    flex :1;
}

.grow{
    flex: 2;
}